div2
{
    text-align: center;
    background-color:#7b68ee;
}
div
{
    background-color:#7b68ee;
}
h3
{
    text-align:center;
}
p
{
    text-align:center;
}
h1
{
    text-align:center;
}
img
{
    height: 300px;

}
body
{
    background-color: red;
}
div11
{
    background-color:Blue;
}